ul {
    margin: 0;
    list-style: none;
}

/*_______________________________________press footer____________________*/
html,
body,
.content{
    min-height: 100vh;
    position: relative;
}
.content {
    padding-bottom: 470px;
}
.site-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*___________________________end press footer_______________________________*/

/*font-family: 'Roboto', sans-serif;*/
h3, h2 {
    font-weight: 300;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 48px;
}
h2 {
    font-size: 64px;
}
h2:before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: url('../image/app-icon.png') left no-repeat;
    background-size: contain;

}
.width-font {
    font-weight: 700;
}
p {
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
}
.btn-modals, .form-action {
    margin-top: 20px;
    font: 700 12px/30px 'Roboto', sans-serif;
    border: none;
    outline: none;
    border-radius: 21px;
    background-color: #fff;
    color: #2ecc71;

}
/*_________________________________________________________*/
/*_____________________________header______________________*/

.site-head {
    padding: 30px 0;
}
.head-nav {
    margin-top: 20px;
}
.head-nav li {
    display: inline-block;
    margin: 0 10px;
}
.head-nav li a {
    font: 18px/30px 'Roboto', sans-serif;
    color: #fefefe;
}
.dropdown-button {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    background: url("../image/menu-icon.png") center no-repeat;
}
.dropdown-menu {
    margin-top: 115px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.dropdown-menu>li>a {
    text-align: right;
    font-weight: 700;
    color: #fff;
}
/*____________________dropdown___________________________*/

/*____________________________header_____________________*/
/*____________________________intro______________________*/

.intro {
    overflow: hidden;
    height: 100%;
    background: #2ecc71 url("../image/intro-bg.png") bottom right no-repeat;
    background-size: 100% 100%;
    color: #fff;
}
.intro > .container {
    display: flex;
    align-items: center;
}
.intro p {
    font-weight: 300;
    margin-bottom: 60px;
}
.i-store,
.play-store {
    display: inline-block;
    width: 135px;
    height: 45px;
}
.i-store {
    margin-right: 15px;
    background: url("../image/appstore.png") center no-repeat;
}
.play-store {
    background: url("../image/google-play.png") center no-repeat;
}
.img-wrap {
    margin-top: 150px;
}
.img-wrap img {
    width: 100%;
}/*____________________________end intro___________________________*/
/*_____________________________________option_______________________*/
.option {
    padding: 90px 0;
}
.list-img-wrap  img {
    width: 100%;
}
.list-option {
    height: 465px;
    max-width: 465px;
    border-radius: 50%;
    /*border-right: 1px solid #dbdbdb;*/
    position: relative;
}

.text {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 .item {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    outline: none;
    border: 3px solid transparent;
    border-radius: 50%;
}
.item:hover {
    background: #2ecc71;
    border: 3px solid #fff;
    box-shadow: 0px 0px 102px -16px rgba(0,0,0,0.75);
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform:scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
}

.ball {
    top: 10px;
    right: 70px;
    background: #e7e7e7 url("../image/sound.png") center no-repeat;
}
.ball:hover {
    background: #2ecc71 url("../image/sound.png") center no-repeat;
}
.date {
    top: 90px;
    right: -5px;
    background: #e7e7e7 url("../image/days.png") center no-repeat;
}
.date:hover {
    background: #2ecc71 url("../image/days.png") center no-repeat;
}
.counter {
    top: 200px;
    right: -30px;
    background:#e7e7e7 url("../image/growth.png") center no-repeat;
}
.counter:hover {
    background:#2ecc71 url("../image/growth.png") center no-repeat;
}
.heart {
    top: 300px;
    right: -5px;
    background:#e7e7e7 url("../image/favorite.png") center no-repeat;
}
.heart:hover {
    background:#2ecc71 url("../image/favorite.png") center no-repeat;
}
.face {
    top: 390px;
    right: 60px;
    background: #e7e7e7 url("../image/interface.png") center no-repeat;
}
.face:hover {
    background: #2ecc71 url("../image/interface.png") center no-repeat;
}
/*__________________________end-option_________________________*/
/*____________________________about____________________________*/

.about {
    padding-top: 120px;
    background: #f9f9f9 url("../image/about-bg.png") center no-repeat;
    background-size: contain;
    color: #5a5a5a;
}
.section-head {
    margin-bottom: 115px;
    text-align: center;
}
.color-text {
    color: #2ecc71;
}

.feature-img {
    width: 50%;
    margin: 0 auto;
}
.feature-img img {
    width: 100%;
}
/*________________________and about__________________________*/
/*__________________meal-time_________________________________*/
.meal-time {
    padding: 140px 0;
    color: #5a5a5a;
}
.meal-inform {
    margin-top: 100px;
}
.meal-manu li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    padding-left: 135px;
    padding-right: 20px;
    margin-bottom: 25px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 60px rgba(15, 65, 36, 0.05);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    transition: all 0.2s;
}
.meal-manu li:hover  {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform:scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.meal-manu li:nth-child(1) {
    background: url("../image/apple-item.png") left no-repeat;
}
.meal-manu li:nth-child(2) {
    background: url("../image/sandwich-item.png") left no-repeat;
}
.meal-manu li:nth-child(3) {
    background: url("../image/salat-item.png") left no-repeat;
}
.meal-item-wrapp {
    padding: 10px 0;
}

.meal-item-wrapp p {
    line-height: 20px;
    font-weight: 300 ;
    font-size: 15px;
}
h5 {
    line-height: 28px;
    font-weight: 700 ;
    font-size: 20px;
    color: #2ecc71;
}
.meal-item-wrapp .g-counter {
    font: 700 12px/22px 'Roboto', sans-serif;
    color: #2ecc71;
}
.g-counter span {
    position: relative;
    margin-right: 25px;
}
.g-counter span:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -50%;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform:translateY(-50%);
    transform: translateY(-50%);

    width: 5px;
    height: 5px;
    background: #b4b4b4;
    border-radius: 50%;
}
.time {
    font:700 25px/18px 'Roboto';
    color: #b4b4b4;
}
.time span {
    display: block;
    text-align: right;
    font-size: 16px;
}

/*________________________footer__________________________*/

.site-foot {
    background: #2ecc71 url("../image/footer-bg.png") bottom  no-repeat;
    background-size: contain;
    color: #fff;
}
.site-foot .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site-foot p {
    margin-bottom: 60px;
}
.site-foot .container .btn-modals {
    padding: 0 80px;
}
/*__________popup_____________________________*/
.window-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba( 0, 0, 0, 0.7);
    top:0;
    left: 0;
    display: none;

}
.wp-content {
    max-width: 500px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #0f0f0f;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input {
    max-width: 200px;
    width: 100%;
}
#btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("../image/close-button.png") center no-repeat;
    background-size: contain;
    border: none;
    outline: none;
}
.form-action {
    padding: 0 15px;
    border: 1px solid #3c3c3c;
}